.required:after {
  content: " *";
}

.outCard {
  padding-bottom: 5rem;
  background-color: rgb(245 246 248);
  border: 1px dotted rgb(207, 207, 207);
}

.inCard {
  width: 70%;
  margin: auto;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input {
  margin-bottom: 1rem;
}
